/* src/components/CreateAccommodation.css */

.create-accommodation {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .create-accommodation h1 {
    margin-bottom: 20px;
  }
  
  .create-accommodation form input,
  .create-accommodation form textarea {
    margin-bottom: 10px;
  }
  
  .create-accommodation form button {
    width: 100%;
    margin-top: 10px;
  }
  